# Dependencies
node_modules/

# Environment Variables
.env
.env.*

# macOS
.DS_Store

# Build outputs
/frontend/dist/
/backend/dist/
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
